<h1>Welcome to my boss blog.</h1>
<p>Perhaps you're curious to learn a little more about me? I'm Lizzy. I'm a Lirbarian at Georgia Tech. I love soccer, radio, music, dogs, and murder mysteries. Also, I'm the boss. </p>
<br>
<p>Here are some pictures of me and stuff that I love.</p>

<div class="image-container">
	<div class="row" >
		<div class = "col-md-6">
  			<%= image_tag "Iceland.jpg", width: "90%", height: "90%", align: "right"%><br>
  			<%= image_tag "Seth.jpg" , width: "90%", height: "90%", align: "right"%>
 		</div>

 		<div class ="col-md-6">
 			<%= image_tag "forest.jpg", width: "90%", height: "9%", align: "left" %><br>
  			<%= image_tag "librarian.jpg", width: "90%", height: "90%", align: "left" %>
 		</div>
 	</div>
 </div>		

 <br>
 <br>