<h1>Welcome to my boss blog.</h1>
<br>
<p>Hey there. This is is Lizzy's blog, created for her TTS class. It's pretty amazing, no?</p>
<br>
<br>
<%= "This is me, hanging out in Iceland."%><br>
<div style="text-align: center;"%>
<%= image_tag "Iceland.jpg", width: "70%", height: "70%"%>
</div>
<br>
<br>